ows/66/CFNETWebServices/App_WebReferences/WebServices1/GetNamesCFC/NameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://WebServices1" xmlns:intf="http://WebServices1" targetNamespace="http://WebServices1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://WebServices1">
      <xsd:import namespace="http://rpc.xml.coldfusion" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfArrayOf_xsd_anyType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:anyType[][]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion">
      <xsd:import namespace="http://WebServices1" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="QueryBean">
        <xsd:sequence>
          <xsd:element name="columnList" nillable="true" type="intf:ArrayOf_xsd_string" />
          <xsd:element name="data" nillable="true" type="intf:ArrayOfArrayOf_xsd_anyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CFCInvocationException">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetNamesResponse">
    <wsdl:part name="GetNamesReturn" type="tns1:QueryBean" />
  </wsdl:message>
  <wsdl:message name="GetNamesRequest">
    <wsdl:part name="sFilter" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException" />
  </wsdl:message>
  <wsdl:portType name="NameService">
    <wsdl:operation name="GetNames" parameterOrder="sFilter">
      <wsdl:input name="GetNamesRequest" message="intf:GetNamesRequest" />
      <wsdl:output name="GetNamesResponse" message="intf:GetNamesResponse" />
      <wsdl:fault name="CFCInvocationException" message="intf:CFCInvocationException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NameService.cfcSoapBinding" type="intf:NameService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetNames">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="GetNamesRequest">
        <wsdlsoap:body use="encoded" namespace="http://WebServices1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="GetNamesResponse">
        <wsdlsoap:body use="encoded" namespace="http://WebServices1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://WebServices1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NameServiceService">
    <wsdl:port name="NameService.cfc" binding="intf:NameService.cfcSoapBinding">
      <wsdlsoap:address location="http://localhost/WebServices1/NameService.cfc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>