other/ows/66/CFNETWebServices/App_WebReferences/GetOrdersCFC/GetOrders.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://WebServices1" xmlns:intf="http://WebServices1" targetNamespace="http://WebServices1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://WebServices1">
      <xsd:import namespace="http://rpc.xml.coldfusion" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_xsd_anyType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:anyType[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion">
      <xsd:import namespace="http://WebServices1" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="CFCInvocationException">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getOrdersRequest">
    <wsdl:part name="Customer_cd" type="xsd:string" />
    <wsdl:part name="Last_updated_date" type="xsd:string" />
    <wsdl:part name="Username" type="xsd:string" />
    <wsdl:part name="Password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException" />
  </wsdl:message>
  <wsdl:message name="getOrdersResponse">
    <wsdl:part name="getOrdersReturn" type="intf:ArrayOf_xsd_anyType" />
  </wsdl:message>
  <wsdl:portType name="GetOrders">
    <wsdl:operation name="getOrders" parameterOrder="Customer_cd Last_updated_date Username Password">
      <wsdl:input name="getOrdersRequest" message="intf:getOrdersRequest" />
      <wsdl:output name="getOrdersResponse" message="intf:getOrdersResponse" />
      <wsdl:fault name="CFCInvocationException" message="intf:CFCInvocationException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetOrders.cfcSoapBinding" type="intf:GetOrders">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getOrders">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getOrdersRequest">
        <wsdlsoap:body use="encoded" namespace="http://WebServices1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getOrdersResponse">
        <wsdlsoap:body use="encoded" namespace="http://WebServices1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://WebServices1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetOrdersService">
    <wsdl:port name="GetOrders.cfc" binding="intf:GetOrders.cfcSoapBinding">
      <wsdlsoap:address location="http://localhost/WebServices1/GetOrders.cfc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>